.bg-base-body{
    background: #150E28;
}
.base-purple{
    color: #D434FE;
}

.base-purple{
    color: #D434FE;
}

.base-purple{
    color: #D434FE;
}
.sitename{
    color: #FFF;
    font-family: Clash Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}