<div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="fw-medium text-light">
                <a class="nav-link active text-light" aria-current="page" href="#">Timeline</a>
                <a class="nav-link text-light" href="#">Overview</a>
                <a class="nav-link text-light" href="#">FAQs</a>
                <a class="nav-link text-light" >contact</a>
                <a class="nav-link text-light" >Register</a>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>