<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GETLINKED</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/base.css">
  </head>
  <body>

    <div >

      {% block navbar %}
        {% include '_navbar.html' %}
      {% endblock navbar %}

    </div>

    {% block content %}
    
    <main class=" py-5 text-light">
      <div class="row">
        <div class="col-lg-6">
          <img src="" alt="">
        </div>
        <div class="col-lg-6">
          
          <h1 class="fw-bold h2 me-4">Igniting a Revolution in HR Innovation</h1>
        </div>
      </div>
      <div class="container-md">

        <div class="row g-0 my-5" id="hero">
          <div class="col-12  col-lg-6 my-3 " >
            <div class="fw-bold fs-1" id="hero-text">
  
              <h2 class="fw-bold my-3 ">
                getlinked Tech
              </h2>
              <h2 class="fw-bold ">
                Hackathon <span class="base-purple">1.0</span>
                <img src="/static/images/chain-9365116-7621444.png" alt="chain">
                <img src="/static/images/1f4a5.png" id="hero-spark" alt="spark">
              </h2>
              <h3 class="my-3" id="hero-text-2">Participate in getlinked tech Hackathon 2023 stand 
                a chance to win a Big prize
              </h3>
  
              <a class="btn text-light btn-gradient mt-5 px-5 py-3 rounded-1" >
                <span class="cta-text">Register</span>
                
              </a>
            </div>
          </div>
  
          <div class="col-12 col-lg-6" id="hero-img">
            <img src="/static/images/image-1.png" alt="">
  
          </div>
          
        </div>
      </div>

    </main>
    
    {% endblock content %}

    <div class="row justify-content-center overflow-hidden  br-sm-0 border-0">
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  </body>
</html>